.curiosidades ul  {
    padding: 18px;
}
.curiosidades ul li {
    margin: 18px ;
}
.curiosidades img {
    width: 70%;
}
.curiosidades .cvermelho {
    text-align: center;
    background-color: #F5E9D2;
    border: 7px solid #841919;
    border-radius: 40px;
    padding: 10px;
}
.curiosidades .cvermelho h2{
    font-size: 1.18rem;
    font-weight: 600;
    margin: 8px;
}
.curiosidades .cvermelho p {
    color: rgb(92, 91, 91);
    margin: 8px;
}
.curiosidades .cmarrom {
    text-align: center;
    background-color: #F5E9D2;
    border: 7px solid #714A3E;
    border-radius: 40px;
    padding: 10px;
}
.curiosidades .cmarrom h2{
    font-size: 1.18rem;
    font-weight: 600;
    margin: 8px;
}
.curiosidades .cmarrom p {
    color: rgb(92, 91, 91);
    margin: 8px;
}



@media only screen and (min-width: 600px) {
    .curiosidades ul li {
        display: flex;
        align-items: center;
        margin: 40px 280px;
        padding: 30px;
    }
    .curiosidades ul li img {
       width: 70%;
    }
    .curiosidades h1{
        font-size: 1.4rem;
        padding: 30px;
    }
}