:root {
  --primary-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hints {
  text-align: center;
  padding: 1.4rem 0;
  background-color: whitesmoke;
  font-weight: 600;
}

.mark {
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
  background-color: gold;
}

.timeline-wrapper {
  max-width: 100vw;
  height: 88vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  height: 0.12rem;
  padding: 0 4rem;
  background-color: black;
  list-style-type: none;
  --scale: 1;
  display: flex;
}

.timeline li {
  width: 20rem;
  position: relative;
}

.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  transition: 0.5s ease;
}

/*linha da timeline */
.timeline li::before {
  content: "";
  top: 1rem;
  display: inline-block;
  width: 0.12rem;
  height: 1rem;
  background-color: black;
}

/* Linha itens pares */
.timeline li:nth-child(even)::before {
  top: -1rem;
}

.timeline li:hover::before {
  background-color: var(--primary-color);
}

/* DATA */
.timeline li::after {
  content: attr(data-date);
  top: -2.5rem;
}

.timeline li:nth-child(odd)::after {
  top: 2.5rem;
}

/* TÍTULO */
.timeline li .title {
  top: 2.4rem;

  font:
    600 1.1rem "Poppins",
    sans-serif;

  white-space: pre;
  opacity: 0;
}

.timeline li:nth-child(odd) > .title {
  top: -2.4rem;
}

.timeline li:hover .title {
  opacity: 1;
}

/* BOLINHA */
.data {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #888;
  color: white;
  border-radius: 50%;
  overflow: hidden;
}